.category {
  margin: 10px 0;
  padding: 0 5px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 0.6;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &.active {
    font-weight: 600;
    opacity: 1;
    border-left-color: #50c3d5;
    transition: all 0.2s ease-in-out;
  }
}

@media screen and (max-width: 600px) {
  .category {
    margin: 10px 5px;

    &.active {
      border-left-color: transparent;
      border-bottom-color: #50c3d5;
    }
  }
}
