.product {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-bottom: 40px;
  padding: 15px;
  min-width: 230px;
  max-height: 110px;
  transition: all 0.2s ease-in-out;

  .product-image {
    position: absolute;
    width: 210px;
    top: -40px;
    left: -90px;
  }

  .product-info-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;

    .product-title {
      margin: 0;
      margin-bottom: 10px;
      padding-right: 5px;
      font-size: 14px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.8);
    }
    .product-price,
    .product-stock {
      margin: 0;
      color: rgba(0, 0, 0, 0.6);
      font-size: 13px;
      font-weight: 500;
    }
    .product-stock {
      margin-top: 5px;

      &.few {
        color: orange;
      }

      &.out {
        color: rgba(255, 0, 0, 0.6);
      }
    }
    .add-btn {
      margin-top: 10px;
      cursor: pointer;
      background: rgba(0, 128, 0, 0.6);
      color: white;
      border-radius: 5px;
      width: 100px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: rgba(0, 128, 0, 0.8);
      }

      &.disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}
